<!DOCTYPE html>
<html>
<head>
	<title>Auth</title>
</head>
<body>
<div id="auth-panel">
		<div class="open-a-panel"><<</div>
		<div class="auth-content">
			<div class="iconaaa">
				<div class="icon1">L</div>
				<div class="icon2">P</div>
			</div>
			<form method="get" action="/admin">
				<input type="text" name="name">
				<input type="password" name="pass">
				<input type="submit" value="Log in">
			</form>
		</div>
	</div>
</body>
</html>