<!DOCTYPE html>
<html>
<head>
	<title>Error</title>
	<style type="text/css">
		.error-block{
			
	    position: absolute;
    left: 77%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-family: serif;
    color: white;

		}
		body{
			margin: 0;
			padding: 0;
			background-color: black;
		}

		img{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50% , -80%);
		}
	</style>
</head>
<body >

<img src="image/2.gif" width="400px"  alt="">
<div class="error-block">
	Error: no autorizated!!!
</div>
</body>
</html>